<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="sequenceGeneratorUsingSetterInjection"
			 class="com.poc.spring.recepies.task21.SequenceGenerator">
		<property name="prefix">
			<value>30</value>
		</property>
		<property name="suffix">
			<value>A</value>
		</property>
		<property name="initial">
			<value>100000</value>
		</property>
	</bean>

	<bean name="sequenceGeneratorUsingConstructorInjection" 
			class="com.poc.spring.recepies.task21.SequenceGenerator">
		<constructor-arg value="44" />
		<constructor-arg value="K" />
		<constructor-arg value="50000"/>
	</bean>

</beans>